[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
# 留空以在命令行中提供

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1

[v3_ca]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:TRUE
